<div class="wrapper">
  <section class="header">
    <zoomInfoHeader></zoomInfoHeader>
  </section>
  <div *ngIf="dataToQuestions.length else standby">
    <section class="main-wrapper" *ngIf="dataToQuestions[dataToQuestions.length-1] !== dataToQuestions[sharedService.currentIndex-1] else finished">
      <div class="infoHeader">
        <div class="questionsDivMain">
          <questions [questions]="dataToQuestions"></questions>
        </div>
        <div class="timerDivMain">
          <timeinterval></timeinterval>
        </div>
      </div>
      <div class="carouselMain">
        <carousel [questions]="dataToQuestions" [answers]="dataToCarousel"></carousel>
      </div>
    </section>
  </div>
  <ng-template #finished>
    <div class="finishedTrivia">
      <h1>Thanks for your time!</h1>
      <p>Created by Jonathan Daniel</p>
    </div>
  </ng-template>
  
  <ng-template #standby>
    <p-progressSpinner></p-progressSpinner>
  </ng-template>  
</div>


