.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  .header {
    height: 25%;
    width: 100%;
  }

  .main-wrapper {
    height: 75%;
    width: 100%;
    padding: 6vh 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    .infoHeader {
      display: flex;
      max-width: 65%;
      align-items: center;
      justify-content: center;
      padding: 10px;
      .questionsDivMain {
        max-width: 65%;
      }
      .timeDivMain {
        width: 100%;
      }
      @media (max-width: 768px){
        width: 100%;
      }
    }
    .carouselMain {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 15px 0;
      width: 65vw;
    }
  }

  ::ng-deep .p-progress-spinner {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.233) !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    .p-progress-spinner-svg {
      height: 10%;
    }
  }
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
}

.finishedTrivia {
  height: 75%;
  width: 100%;
  padding: 5vh 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  p,
  span {
    margin: 5px 0;
  }
  span {
    font-size: small;
  }
}


